.manager {
  margin-top: 3.5vh;
  margin-left: 2.5vw;
  margin-right: 4vw;
  background-color: #202b43;
  padding-top: 2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 2vh;
}
input {
  height: 36px;
  border-radius: 5px;
}
