.manager {
  margin-top: 3.5vh;
  background-color: #202b43;
  padding-top: 2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 2vh;
}
input {
  height: 36px;
  border-radius: 5px;
}

.img-wrapper {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 10px;
  //bottom: 0;
  //left: 0;
  right: 10px;
  text-align: right;
}

.img-overlay:before {
  content: " ";
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}
