<app-image-modal
  *ngIf="modalState"
  style="min-width: 100vw; min-height: 100vh;"
></app-image-modal>

<div class="container" style="font-size: 13px;" *ngIf="assets.length > 0">
  <div class="manager rounded">
    <div class="row">
      <div class="col-12" style="font-size: 16px;">
        <button
          class="btn"
          style="line-height: 1; text-align: right;"
          (click)="isCollapsed = !isCollapsed"
        >
          <fa-icon
            *ngIf="isCollapsed"
            [icon]="faCaretDown"
            style="color: #ffffff; padding-right: 5px; text-align: right;"
          ></fa-icon>
          <fa-icon
            *ngIf="!isCollapsed"
            [icon]="faCaretRight"
            style="color: #ffffff; padding-right: 5px; text-align: right;"
          ></fa-icon>
          My {{ categoryValue | titlecase }}s
        </button>
      </div>
    </div>
    <div class="row" *ngIf="isCollapsed">
      <div class="col-12" *ngFor="let asset of assets">
        <app-manager-asset
          [asset]="asset"
          [images]="getAssetImages(asset)"
          [category]="category"
          (remove)="remove(asset)"
        ></app-manager-asset>
      </div>
      <div class="col-12">
        <div
          *ngIf="assets.length > 0"
          style="
            margin-top: 15px;
            text-align: center;
            background-color: #182338;
            border-radius: 5px;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 25px;
          "
        >
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  Suggested Yearly Income
                </div>
                <div class="col-12">
                  {{ getSuggestedYearlyIncome() | currency }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
      <div
        class="col-12"
        *ngIf="assets.length === 0"
        style="text-align: center;"
      >
        <small>Select a Boat</small>
      </div>-->
      </div>
    </div>
  </div>
</div>
