<div style="margin-top: 3.5vh;">
  <div
    class="row rounded"
    style="
      background-color: #202b43;
      min-height: 64px;
      padding-top: 15px;
      padding-right: 2px;
      padding-left: 2px;
      padding-bottom: 15px;
    "
  >
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-12" *ngIf="Utility.isDefined(radio1Title)">
          <app-button-checkbox
            [options]="radio1ValueList"
          ></app-button-checkbox>
        </div>
        <div class="col-xs-12" *ngIf="Utility.isDefined(radio2Title)">
          <app-button-checkbox
            [options]="radio2ValueList"
          ></app-button-checkbox>
        </div>
        <div class="col-xs-12" *ngIf="Utility.isDefined(radio3Title)">
          <app-button-checkbox
            [options]="radio3ValueList"
          ></app-button-checkbox>
        </div>
        <div class="col-xs-12" *ngIf="Utility.isDefined(radio4Title)">
          <app-button-checkbox
            [options]="radio4ValueList"
          ></app-button-checkbox>
        </div>
        <div class="col-xs-12" *ngIf="Utility.isDefined(radio5Title)">
          <app-button-checkbox
            [options]="radio5ValueList"
          ></app-button-checkbox>
        </div>
        <div class="col-xs-12" *ngIf="Utility.isDefined(radio6Title)">
          <app-button-checkbox
            [options]="radio6ValueList"
          ></app-button-checkbox>
        </div>
        <div class="col-xs-12" *ngIf="Utility.isDefined(cmb1Title)">
          <app-dropdown [title]="cmb1Title" [options]="cmb1ValueList"></app-dropdown>
        </div>
        <div class="col-xs-12" *ngIf="Utility.isDefined(cmb2Title)">
          <app-dropdown [title]="cmb2Title" [options]="cmb2ValueList"></app-dropdown>
        </div>
        <div class="col-xs-12" *ngIf="Utility.isDefined(cmb3Title)">
          <app-dropdown [title]="cmb3Title" [options]="cmb3ValueList"></app-dropdown>
        </div>
        <div class="col-xs-12" *ngIf="Utility.isDefined(cmb4Title)">
          <app-dropdown [title]="cmb4Title" [options]="cmb4ValueList"></app-dropdown>
        </div>
        <div class="col-xs-12" *ngIf="Utility.isDefined(cmb5Title)">
          <app-dropdown [title]="cmb5Title" [options]="cmb5ValueList"></app-dropdown>
        </div>
        <div class="col-xs-12" *ngIf="Utility.isDefined(cmb6Title)">
          <app-dropdown [title]="cmb6Title" [options]="cmb6ValueList"></app-dropdown>
        </div>
      </div>
    </div>
    <div class="col-xs-2" style="margin-left: 15px; margin-right: 15px;">
      <input
        type="text"
        placeholder="Search Make, Model"
        class="form-control"
        autocomplete="off"
        style="width: 100%;"
      />
    </div>
  </div>
</div>
