<div style="margin-top: 3.5vh; margin-left: 2.5vw; margin-right: 4vw;">
  <div
    class="row rounded"
    style="
      background-color: #202b43;
      min-height: 64px;
      padding-top: 15px;
      padding-right: 2px;
      padding-left: 2px;
      padding-bottom: 15px;
    "
  >
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-12">
          <app-button-checkbox
            (valueChanged)="desc1Changed($event)"
            [options]="desc1"
          ></app-button-checkbox>
        </div>
        <div class="col-xs-12">
          <app-button-checkbox
            (valueChanged)="desc2Changed($event)"
            [options]="desc2"
          ></app-button-checkbox>
        </div>
        <div class="col-xs-12">
          <app-dropdown
            (valueChanged)="desc3Changed($event)"
            [options]="desc3"
          ></app-dropdown>
        </div>
        <div class="col-xs-12">
          <app-dropdown
            (valueChanged)="desc4Changed($event)"
            [options]="desc4"
          ></app-dropdown>
        </div>
      </div>
    </div>
    <div class="col-xs-2" style="margin-left: 15px; margin-right: 15px;">
      <input
        type="text"
        placeholder="Search Make, Model"
        class="form-control"
        autocomplete="off"
        style="width: 100%;"
      />
    </div>
  </div>
</div>
