<div class="row card">
  <div class="col-12">
    <div class="row card-body">
      <div class="col-8 img-wrapper">
        <img
          src="{{ currentImgSrc }}"
          class="img-responsive"
          style="
            padding: 10px;
            width: 100%;
            border-radius: 14px;
            height: 150px;
          "
        />
        <div class="img-overlay" *ngIf="category !== categories.Children">
          <button
            (click)="nextImage()"
            class="btn btn-lg btn-default"
            style="
              width: 35px;
              height: 130px;
              background-color: #00000067;
              border-radius: 0px 4px 4px 0px;
            "
          >
            <fa-icon [icon]="faCaretRight" style="color: #ffffff75;"></fa-icon>
          </button>
        </div>
      </div>
      <div
        class="col-3 add"
        style="display: flex; justify-content: center; align-items: center;"
      >
        <div class="row" style="line-height: 25px;">
          <div *ngIf="category === categories.Boats">
            <div class="col-12">
              {{ asset.asset_cost | currency: "USD":"symbol":"1.0" }}
            </div>
            <div class="col-12">{{ asset.asset_slider_2_value }}</div>
            <div class="col-12">{{ asset.asset_slider_1_value }} '</div>
          </div>
          <div *ngIf="category === categories.Cars">
            <div class="col-12">
              {{ asset.asset_cost | currency: "USD":"symbol":"1.0" }}
            </div>
            <div class="col-12">{{ asset.asset_cmb_1_value }}</div>
            <div class="col-12">{{ asset.asset_cmb_2_value }}</div>
          </div>
          <div *ngIf="category === categories.House">
            <div class="col-12">
              {{ asset.asset_cost | currency: "USD":"symbol":"1.0" }}
            </div>
            <div class="col-12">
              {{ asset.asset_slider_1_title }} &
              {{ asset.asset_slider_2_title }}
            </div>
            <div class="col-12">
              {{ asset.asset_slider_1_value }} &
              {{ asset.asset_slider_2_value }}
            </div>
            <div class="col-12">
              {{ asset.asset_slider_4_value }}
            </div>
          </div>
          <div *ngIf="category === categories.Children">
            <div class="col-12">
              {{
                asset.asset_monthly_maintance * 12 * 18
                  | currency: "USD":"symbol":"1.0"
              }}
            </div>
            <div class="col-12">{{ asset.asset_cmb_1_value }}</div>
            <div class="col-12">{{ asset.asset_cmb_2_value }}</div>
          </div>
        </div>
      </div>
      <div
        class="col-1 add"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: #253048;
          border-radius: 0px 4px 4px 0px;
        "
        (click)="add()"
      >
        <fa-icon [icon]="faPlus" style="color: #21aa11;"></fa-icon>
      </div>
    </div>
  </div>
</div>
